<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772416873905-rjccsdcgje8a3oqgk90d260mulum14nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772416873905-rjccsdcgje8a3oqgk90d260mulum14nf</string>
	<key>API_KEY</key>
	<string>AIzaSyAVDiL5Req8OzMD7Fq5ynslsQ9R4QScgKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>772416873905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication18</string>
	<key>PROJECT_ID</key>
	<string>test-6033b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6033b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772416873905:ios:7d35d19562e09d8d6fc990</string>
</dict>
</plist>